if has nix; then
    ICO_DEV_PATH=$( nix eval --raw --impure "nixpkgs#icu.dev.outPath" )
    if [ $? -eq 0 ] ; then
        export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:$ICO_DEV_PATH/lib/pkgconfig"
    fi
fi
